/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Firefox */
html {
  scrollbar-color: #1f1f1f #000;
  scrollbar-width: thin;
}
